{% load i18n %}

<input id="captcha_input_{{ name }}" type="hidden" name="{{ name }}">

<div id="captcha_element_{{ name }}" style="width: 400px; height: 480px;">
    <div style="text-align: center; font-family: Arial; color: #aaa; font-size: 32px; font-weight: bold; vertical-align: middle; line-height: 480px;">
        {% trans 'Loading...' %}
    </div>
</div>

<script>
{
    var input_id = 'captcha_input_{{ name }}';
    var elem_id = 'captcha_element_{{ name }}';

    showText = function(text)
    {
        var div = $('<div style="text-align: center; font-family: Arial; color: #aaa; font-size: 32px; font-weight: bold; vertical-align: middle; line-height: 480px;"></div>')
        div.text(text);
        $('#' + elem_id).html(div);
    }

    showDrawingTool = function(instructions)
    {
// TODO: Replace with real drawing tool!
        var form = $('<form enctype="multipart/form-data"></form>');
        form.append('<input type="file" name="drawing">');
        form.append('<br>');
        form.append('<input type="submit" value="{% trans 'Upload drawing' %}">');
        $('#' + elem_id).html('<div style="display: inline-block; vertical-align: bottom; width: 400px; height: 50px; text-align: center; font-family: Arial; color: #aaa; font-size: 24px; font-weight: bold; vertical-align: middle; line-height: 50px;">' + instructions + '</div>');
        $('#' + elem_id).append(form);
        // Wait for submit event
        form.submit(function(e) {
            e.preventDefault();

            showText('{% trans "Loading..." %}');

            // Convert file to FormData
            var data = new FormData();
            data.append('drawing', form.find('input[name="drawing"]')[0].files[0]);

            // Actual submit
            $.ajax({
                url: '/draw_captcha/upload_drawing',
                type: 'post',
                data: data,
                contentType: false,
                processData: false,
                error: function() {
                    showText('{% trans "Error when uploading!" %}');
                },
                success: function(data) {
                    startNewTask();
                },
            });
        });
    }

    showSelectonTool = function(instructions, pictures)
    {
        // First add instructions
        $('#' + elem_id).html('<div style="display: inline-block; vertical-align: bottom; width: 400px; height: 50px; text-align: center; font-family: Arial; color: #aaa; font-size: 24px; font-weight: bold; vertical-align: middle; line-height: 50px;">' + instructions + '</div>');

        var selected_pictures = [];

        // Add pictures
        for (var i = 0; i < pictures.length; ++ i) {
            var picture = pictures[i];
            var img = $('<img style="display: inline-block; vertical-align: bottom; width: 100px; height: 100px;" src="' + picture[1] + '" width="100" height="100">');
            img.data('picture_id', picture[0]);
            img.on('click', function(e) {
                var img = $(e.target);
                if (img.css('opacity') > 0.65) {
                    img.css('opacity', 0.3);
                    selected_pictures.push(img.data('picture_id'));
                } else {
                    img.css('opacity', 1.0);
                    selected_pictures.splice(selected_pictures.indexOf(img.data('picture_id')), 1);
                }
            });
            $('#' + elem_id).append(img);
        }

        // Add "Ready" button
        var button = $('<div style="display: inline-block; vertical-align: bottom; width: 400px; height: 30px; text-align: center;"><button>{% trans "Ready!" %}</button>');
        button.on('click', function(e) {
            e.preventDefault();

            showText('{% trans "Loading..." %}');

            $.ajax({
                url: '/draw_captcha/complete_task',
                type: 'post',
                data: {pictures_ids: selected_pictures.join()},
                error: function() {
                    showText('{% trans "Error when completing captcha!" %}');
                },
                success: function(data) {
                    if (data.secret) {
                        $('#' + input_id).val(data.secret);
                        showText('{% trans "Completed!" %}');
                    } else {
                        startNewTask();
                    }
                },
            });
        });
        $('#' + elem_id).append(button);
    }

    startNewTask = function()
    {
        // Fetch captcha details
        $.ajax({
            url: '/draw_captcha/get_task',
            error: function() {
                showText('{% trans "Error in captcha!" %}');
            },
            success: function(data) {
                if (data.secret) {
                    $('#' + input_id).val(data.secret);
                    showText('{% trans "Completed!" %}');
                } else if (data.draw) {
                    showDrawingTool(data.instructions);
                } else {
                    showSelectonTool(data.instructions, data.pictures);
                }
            },
        });
    }

    startNewTask();
};
</script>
